{% extends test|yesno:"siteapp/test.html,siteapp/empty.html" %}

{% load staticfiles %}
{% load custom_tags %}

{% block testcontent %}

<div id="category_name" class="category_name">Category: <a class="expander" href="#">{{ name }}</a></div>
<div class="content">
<dl style="text-indent: {% eval %} {{ level }} * 40 {% endeval %}px">
	{% for skill in skills %}
	<dt>{{ skill.getSkillHTML}}</dt>
	<dd class="skill_description">{{ skill.description }}</dd>
	{% endfor %}
	<br>
	{% if traverse %}
	{% for gategory in subcategories %}
		<dt>
		{{ gategory|args:next_level|args:traverse|args:hide_top_level|args:False|call:"getCategoryHTML" }}
		</dt>
		<dd class="category_description">{{ category.description }}</dd>
	{% endfor %}
	{% endif %}
</dl>
</div>
{% endblock %}